@import '~bootstrap/scss/bootstrap';

.main-wrapper {
    height: calc(100vh - 57px);
}

main {
    height: calc(100vh - 57px);
    overflow-y: auto;
    background-image: url('/resources/img/bg_06.webp');
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    list-style: none;
}

img {
    max-width: 100%;
}

h1 {
    color: white !important;
}

.mb-nav-link {
    color: white;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
        color: white;
    }
}
.header-navbar .logo,
.header-navbar .nav-link,
.header-navbar .dropdown-item {
    color: white;
}
.header-navbar .logo:hover,
.header-navbar .nav-link:hover,
.header-navbar .dropdown-item:hover {
    color: green;
}

.aside-nav ul li {
    margin-bottom: 20px;
    a:hover {
        color: green;
        text-decoration: none;
    }
}

.table-wrapper {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    border-radius: 25px;
}

.table-wrapper {
    .row{
        nav{
            width: 100%;
            color: red;
            ul{
                color: red;
                width: 100%;
                display: flex;
                justify-content: center;
                li {
                    .page-link {
                        color: black;
                        background-color: rgb(235, 100, 16);
                        border: 2px solid black;
                        border-radius: 5px;
                    }
                    &:hover {
                        color: white;
                        opacity: .5;
                    }
                }
                li.active {
                    .page-link {
                        color: black;
                        background-color: white;
                        transform: scale(1.1);
                    }
                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.table tr th:nth-child(1) {
    width: 10%;
 }

.table tr th:nth-child(2), .table tr th:nth-child(3), .table tr th:nth-child(4){
    width: 30%;
 }

.table tr td:nth-child(2) {
text-transform: capitalize;
}

.badge {
    background-color: violet;
    color: black;
}

 .ck-editor__editable[role="textbox"] {
    /* editing area */
    height: 300px;
}

.btn, .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    color: black;
    border: none;
}
tbody .btn {
    width: 75px;
    color: white;
}

tbody .btn:hover, .new-project.btn:hover {
    transform: scale(1.075);
    color: white;
    opacity: .75;
}

.btn.btn-warning {
    background-color: rgb(93, 93, 48);
}
.btn.btn-warning:hover {
    background-color: rgb(212, 212, 56);
}
.btn.btn-primary {
    background-color: rgb(7, 69, 98);
}
.btn.btn-primary:hover {
    background-color: rgb(63, 163, 209);
}
.btn.btn-danger {
    background-color: rgba(207, 74, 74, 0.775);
}
.btn.btn-danger:hover {
    background-color: rgba(205, 4, 4, 0.775);
}
.btn.btn-success {
    background-color: rgba(56, 212, 155, 0.775);
}
.navbar-search .btn {
    height: 75%;
    width: 25%;
    background-color: rgb(42, 165, 35);
    border: 1px solid gray;
}

//SHOW
.actions {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align-last: auto;
}

//TYPE
.type-input,
.technology-input {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    padding-left: 1rem;
}
.add-types .btn,
.add-technologies .btn {
    background-color: rgba($color: #42bc7556, $alpha: 1.0);
    color: white;
    &:hover {
        background-color: rgba($color: #0f532b, $alpha: 1.0);
    }
}
